/* Main Styles */
html, body {
  height: 100%;
}

body {
    background-image: url('../images/topography.png');
}

/* Navigation */
.navbar-brand {
  font-size: 1.5em;
}

.navbar-inverse .navbar-nav li a {
  font-size: 1.5em;
}

/* Index Styles */
.container {
	min-height: 100%;
}

.main-content {
  background-color: #fff;
  border: 1px solid #ddd;
}

.index-content p {
	font-size: 1.25em;
}

/* Sidebar */
.panel-title {
  font-size: 1.5em;
}

div.panel-body {
	border: 1px solid #ddd;
}

div.panel-body a {
	text-decoration: none;
	color: inherit;
	font-size: 1.25em;
}

/* Images */
.image-container {
  position: relative;
  overflow: auto;
}

.caption {
  padding: .5em;
  position: absolute;
  bottom: 0;
  background-color: #101010;
  width: 92%;
  text-align: center;
  color: #9d9d9d;
  font-size: 1.25em;
}

/* Blockquote */
.blockquote {
  margin-top: 1.5em;
  font-size: 1.5em;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

/* Footer */
.footer {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  color: #9d9d9d;
  padding: 1.25em;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: -70px; /* negative value of footer height */
  height: 70px;
  clear: both;
  margin-top: 20px;
}

/* Portfolio */
.panel-body:hover {
  background-color: #f5f5f5;
}

/* Media Queries */

@media screen and (min-width: 640px){
  .caption {
      width: 67.5%;
  }
}

@media screen and (min-width: 768px){
  .caption {
      width: 92%;
  }
}

@media screen and (min-width: 1400px){
  .caption {
      width: 88%;
  }
}

